In [1]:
# notebook setup
import datetime as dt
import os
import sys

from IPython.core.interactiveshell import InteractiveShell
import pandas as pd

sys.path.insert(0, os.path.abspath('../..'))

import weather as weather

InteractiveShell.ast_node_interactivity = 'all'
key = ''

/home/luke/anaconda3/envs/bright/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/luke/anaconda3/envs/bright/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### Get a daily weather report by latitude and longitude

In [2]:
now = dt.datetime.now()
today = dt.datetime(year=now.year, month=now.month, day=now.day); today

report = weather.weather_report(
    weather.WeatherRequest(lat=47.6062, lon=122.3321, date=today, zipcode=None),
    key=key
)
pd.DataFrame(report.get('report')).head()

datetime.datetime(2018, 10, 28, 0, 0)

,cloud_cover_IQR,cloud_cover_mean,cloud_cover_median,cloud_cover_std,date,dew_point_IQR,dew_point_mean,dew_point_median,dew_point_std,humidity_IQR,...,humidity_median,humidity_std,lat,lon,precip_sum,temp_IQR,temp_mean,temp_med,temp_std,zipcode
0,0.32,0.51,0.46,0.24,2018-10-28,2.36,21.76,21.14,1.85,0.1,...,0.63,0.06,47.6,122.3,0.0,8.09,34.45,32.0,4.55,None

### Or get a report by zipcode

In [4]:
report = weather.weather_report(
    weather.WeatherRequest(lat=None, lon=None, date=today, zipcode=98110),
    key=key
)
pd.DataFrame(report.get('report')).head()

,cloud_cover_IQR,cloud_cover_mean,cloud_cover_median,cloud_cover_std,date,dew_point_IQR,dew_point_mean,dew_point_median,dew_point_std,humidity_IQR,...,humidity_median,humidity_std,lat,lon,precip_sum,temp_IQR,temp_mean,temp_med,temp_std,zipcode
0,0.17,0.9,0.93,0.1,2018-10-28,2.72,49.05,48.32,2.2,0.07,...,0.86,0.06,47.6,-122.5,0.35,3.13,53.57,54.31,2.21,98110

### If you have a series of requests to make, just include a list of a requests. You can set `n_jobs` to use as many cores as you want. 
For example, the following request makes ten simultaneous calls to Dark Sky retrieving weather summaries for the past ten days.

In [8]:
report = weather.weather_report(
    [
        weather.WeatherRequest(
            lat=None, lon=None, date=today-dt.timedelta(days=i), zipcode=47579
        )
        for i in range(10)
    ],
    summarize='daily',
    key=key,
    n_jobs=-1
)
pd.DataFrame(report.get('report')).head()

,cloud_cover_IQR,cloud_cover_mean,cloud_cover_median,cloud_cover_std,date,dew_point_IQR,dew_point_mean,dew_point_median,dew_point_std,humidity_IQR,...,humidity_median,humidity_std,lat,lon,precip_sum,temp_IQR,temp_mean,temp_med,temp_std,zipcode
0,0.48,0.27,0.03,0.37,2018-10-28,7.87,40.94,39.88,5.45,0.39,...,0.82,0.23,38.1,-86.9,0.01,13.81,53.51,52.80,8.83,47579
1,0.52,0.71,1.00,0.38,2018-10-27,1.52,43.92,44.17,1.35,0.21,...,0.93,0.13,38.1,-86.9,0.00,6.98,48.47,46.44,4.50,47579
2,0.00,1.00,1.00,0.00,2018-10-26,3.00,49.51,49.73,1.60,0.03,...,0.95,0.03,38.1,-86.9,0.11,2.31,50.93,50.69,1.65,47579
3,1.00,0.36,0.00,0.45,2018-10-25,6.91,38.95,37.41,4.09,0.16,...,0.70,0.09,38.1,-86.9,0.00,9.30,49.70,51.88,4.96,47579
4,0.00,0.00,0.00,0.00,2018-10-24,1.91,36.36,36.30,1.15,0.36,...,0.80,0.20,38.1,-86.9,0.00,13.55,47.09,44.83,8.32,47579

### Or summarize at the weekly interval

In [10]:
report = weather.weather_report(
    [
        weather.WeatherRequest(
            lat=None, lon=None, date=today-dt.timedelta(days=i), zipcode=47579
        )
        for i in range(30)
    ],
    summarize='weekly',
    key=key,
    n_jobs=-1
)
pd.DataFrame(report.get('report')).head()

,cloud_cover_IQR,cloud_cover_mean,cloud_cover_median,cloud_cover_std,date,dew_point_IQR,dew_point_mean,dew_point_median,dew_point_std,humidity_IQR,...,humidity_median,humidity_std,lat,lon,precip_sum,temp_IQR,temp_mean,temp_med,temp_std,zipcode
0,0.00,0.70,0.86,0.34,2018-09-28 22:00:00,5.63,58.42,58.91,3.07,0.32,...,0.85,0.17,38.1,-86.9,0.00,16.25,65.74,63.73,8.83,47579
1,0.48,0.29,0.07,0.34,2018-10-01 00:00:00,2.36,69.33,69.80,2.81,0.25,...,0.84,0.15,38.1,-86.9,0.07,11.88,76.61,75.57,7.29,47579
2,1.00,0.56,0.75,0.44,2018-10-08 00:00:00,24.49,54.00,54.14,12.38,0.23,...,0.83,0.15,38.1,-86.9,0.25,25.15,61.31,57.18,14.24,47579
3,0.38,0.25,0.00,0.41,2018-10-15 00:00:00,7.26,38.45,37.58,8.25,0.32,...,0.85,0.20,38.1,-86.9,0.10,12.96,46.62,46.43,8.39,47579
4,1.00,0.34,0.00,0.45,2018-10-22 00:00:00,8.89,40.33,38.32,5.69,0.36,...,0.79,0.21,38.1,-86.9,0.11,10.62,50.00,50.06,8.17,47579